# Port yang digunakan aplikasi (Render biasanya otomatis mengisi ini)
PORT=3000

# Nomor WhatsApp yang diizinkan (kosongkan jika semua nomor diizinkan)
ALLOWED_NUMBERS=

# URI Koneksi MongoDB Atlas (Contoh: mongodb+srv://user:pass@cluster.mongodb.net/dbname)
MONGODB_URI=